html, body, .fill {
    height: 100%;
    width: 100%;
}

body {
    word-wrap: break-word;
}

.main-content {
    padding: 20px;
    padding-top: 84px;
    margin-top: -64px;
}

div.md-sidenav > .md-sidenav-content {
    box-shadow: none !important;
    border-right: 1px rgba(0, 0, 0, .25) solid !important;
    margin-top: 64px;
}

div.md-sidenav hr.md-divider {
    margin: 0 10px;
}

div.md-sidenav-backdrop {
    opacity: 0 !important;
    display: none !important;
}

.open-menu {
    transition: all 0.4s cubic-bezier(0.25, 0.8, 0.25, 1);
    margin-left: 304px; /* width of sidenav */
    width: calc(100% - 304px);
    transition-property: margin-left, width;
    will-change: margin-left, width;
}

.md-error,
.danger {
    color: red !important;
}

.wrapper {
    display: grid;
    grid-gap: 20px;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
}
