<template>
    <md-card md-with-hover class="square" @click.native="actions.list(data._id)">
        <md-card-content class="square">
            {{ data.name }}
            <md-card-actions>
                <md-button class="md-icon-button active" @click="actions.list(data._id)">
                    <md-icon v-if="type === 'entity'">list</md-icon>
                    <md-icon v-if="type === 'parameter'">show_chart</md-icon>
                </md-button>
                <md-button class="md-icon-button" :class="{ active: edit }" @click.stop.prevent="actions.edit(data._id)" v-if="edit">
                    <md-icon v-if="type === 'entity'">edit</md-icon>
                    <md-icon v-if="type === 'parameter'">playlist_add</md-icon>
                </md-button>
            </md-card-actions>
        </md-card-content>
    </md-card>
</template>

<script>
export default {
    name: 'any-card',
    props: [
        'data',
        'type',
        'editing',
        'actions'
    ],
    computed: {
        edit() {
            return (this.type === 'entity' && this.editing) ||
                this.type === 'parameter';
        }
    }
};
</script>

<style>
.square {
    width: 200px;
    height: 200px;
}

.md-card-content {
    position: relative;
}

.md-card-actions {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    justify-content: space-between !important;
}

.md-card-actions > .active {
    display: none !important;
}

.square:hover .md-card-actions > .active {
    display: flex !important;
}
</style>
