<template>
    <div class="fill">
        <div class="wrapper">
            <any-card v-for="(p, index) in params" :key="index"
                :data="p"
                :type="'parameter'"
                :actions="parameterActions"></any-card>
        </div>
    </div>
</template>

<script>
import mixUtils from '@/mixins/utils';
import AnyCard from '../Shared/AnyCard';
import db from '@/../utils/db-helper';
import consts from '@/../utils/consts.js';

export default {
    name: 'ParametersList',
    mixins: [mixUtils],
    components: {
        AnyCard
    },
    data() {
        return {
            parameterActions: {
                edit: this.addvalue,
                list: this.showChart
            },
            params: []
        };
    },
    created() {
        /* istanbul ignore else */
        if (this.$route.params.entityId && this.$route.params.entityId !== consts.entityFakeId) {
            db.getEntityById(this.$route.params.entityId, (err, doc) => {
                // TODO manage error
                this.params = doc.parameters;
            });
        }
    },
    methods: {
        addvalue(paramId) {
            this.$router.push('/' + this.$route.params.entityId + '/' + paramId + '/value');
        },
        showChart(paramId) {
            this.$router.push('/' + this.$route.params.entityId + '/' + paramId + '/chart');
        }
    }
};
</script>
