<template>
    <md-list-item md-expand-multiple>
        <!-- collapsed -->
        <md-icon :class="{ 'danger' : validating && emptyName }">{{ content.icon }}</md-icon>
        <span :class="{ 'danger' : validating && emptyName }">{{ content.name || t('parameters.parameter_name') }}</span>

        <!-- expanded -->
        <md-list-expand class="parameter-data">
            <md-button class="md-icon-button del-param" @click="removeParam(index)">
                <md-icon>delete</md-icon>
            </md-button>

            <md-input-container :class="{ 'md-input-invalid' : validating && emptyName }">
                <label>{{ t('parameters.parameter_name') }}</label>
                <md-input :placeholder="t('parameters.parameter_name')" v-model="content.name" required></md-input>
                <span class="md-error">{{ t('parameters.missing_parameter_name') }}</span>
            </md-input-container>
            <md-input-container>
                <label>{{ t('parameters.parameter_description') }}</label>
                <md-textarea :placeholder="t('parameters.parameter_description')" v-model="content.description"></md-textarea>
            </md-input-container>
        </md-list-expand>
    </md-list-item>
</template>

<script>
import mixUtils from '@/mixins/utils';

export default {
    name: 'any-param-def',
    mixins: [mixUtils],
    props: ['content', 'validating', 'index', 'removeParam'],
    computed: {
        emptyName() {
            return !this.content.name;
        }
    },
    methods: {
        getErrors() {
            return [{
                field: 'name',
                error: this.emptyName ? '' : 'empty'
            }];
        }
    }
};
</script>

<style>
.parameter-data {
    padding: 0 30px;
}

.del-param {
    position: fixed !important;
    right: 2px;
    top: -10px;
}
</style>

