<template>
    <div>
        <div>
            <span class="md-headline" :class="{ danger: validating && !hasParameters}">{{ t('entities.entity_parameters') }}</span>
            <md-button class="add-param-btn" @click="onAdd()">{{ t('common.add') }}</md-button>
        </div>
        <span class="md-error danger" v-if="validating && !hasParameters">{{ t('parameters.no_parameters') }}</span>
        <md-whiteframe md-elevation="3" class="parameters-data-container" v-if="params.length > 0">
            <md-list>
                <any-param-def v-for="(p, index) in params" :key="index" :ref="'params' + index" :content="p" :index="index" :removeParam="onRemove" :validating="validating"></any-param-def>
            </md-list>
        </md-whiteframe>
    </div>
</template>

<script>
import AnyParamDef from './ParameterDefinition';

import mixUtils from '@/mixins/utils';

export default {
    name: 'any-params-list',
    mixins: [mixUtils],
    props: ['params', 'validating', 'onAdd', 'onRemove'],
    components: {
        AnyParamDef
    },
    computed: {
        hasParameters() {
            return this.params && this.params.length > 0;
        }
    },
    methods: {
        getErrors() {
            const errs = [];
            if (!this.hasParameters) {
                errs.push({
                    field: 'parameters',
                    error: 'empty'
                });
            }
            const children = this.$refs;
            return Object.keys(children).reduce((acc, p, i) => {
                const errs = children[p][0] ? children[p][0].getErrors() : [];
                if (errs.length > 0) {
                    acc.concat(errs);
                }
                return acc;
            }, errs);
        }
    }
};
</script>
