<template>
    <div class="entity-info-container">
        <any-entity-def :content="entity" :validating="enableValidation" :editing="editing" :onDelete="deleteEntity" ref="entityDef"></any-entity-def>

        <any-parameters-list :params="entity.parameters" :validating="enableValidation" :onAdd="addParameter" :onRemove="removeParameter" ref="parametersDefList"></any-parameters-list>

        <md-button class="md-fab md-fab-bottom-right" @click="done">
            <md-icon>done</md-icon>
        </md-button>

        <md-dialog-confirm
            :md-title="t(confirm.title)"
            :md-content-html="t(confirm.contentHtml)"
            :md-ok-text="t(confirm.ok)"
            :md-cancel-text="t(confirm.cancel)"
            @close="confirm.onClose"
            ref="confirmDialog">
        </md-dialog-confirm>
    </div>
    <!-- For validation see here: https://github.com/vuematerial/vue-material-old/blob/master/docs/src/pages/components/Input.vue -->
</template>

<script>
import AnyEntityDef from './EntityDefinition';
import AnyParametersList from '@/components/Parameters/ParameterDefinitionList';

import consts from '@/../utils/consts.js';
import mixUtils from '@/mixins/utils';
import db from '@/../utils/db-helper';

export default {
    name: 'EditEntity',
    mixins: [mixUtils],
    components: {
        AnyEntityDef,
        AnyParametersList
    },
    data() {
        return {
            entity: { parameters: [] },
            editing: false,
            tmpRemoveParamIndex: -1,
            confirm: {},
            confirmDefault: {
                title: 'a', // md-dialog-confirm needs a non-empty string at creation time
                contentHtml: 'a', // md-dialog-confirm needs a non-empty string at creation time
                ok: 'common.ok',
                cancel: 'common.cancel',
                onClose() {} // md-dialog-confirm needs an existing function at creation time
            },
            confirmDeleteEntity: {
                title: 'entities.delete_confirm_title',
                contentHtml: 'entities.delete_confirm_content',
                ok: 'common.ok',
                cancel: 'common.cancel',
                onClose: this.onCloseDeleteEntity
            },
            confirmDeleteParameter: {
                title: 'parameters.delete_confirm_title',
                contentHtml: 'parameters.delete_confirm_content',
                ok: 'common.ok',
                cancel: 'common.cancel',
                onClose: this.onCloseDeleteParameter
            },
            enableValidation: false
        };
    },
    created() {
        this.confirm = this.confirmDefault;
        /* istanbul ignore else */
        if (this.$route.params.entityId && this.$route.params.entityId !== consts.entityFakeId) {
            this.editing = true;
            db.getEntityById(this.$route.params.entityId, (err, doc) => {
                // TODO manage error
                this.entity = doc;
            });
        }
    },
    beforeDestroy() {
        this.$store.commit('selectEntityForEditing', '');
    },
    methods: {
        done() {
            this.enableValidation = true;
            if(this.$refs['entityDef'].getErrors().length < 1 && this.$refs['parametersDefList'].getErrors().length < 1) {
                if (this.editing) {
                    this.$store.dispatch('editEntity', {
                        modEntity: this.entity,
                        cb: (err, num) => {
                            /* istanbul ignore else */
                            if (num) {
                                // TODO this is inefficient, find a better way to only update the single entity
                                this.$store.dispatch('updateStoreFromDb');
                            }
                        }
                    });
                } else {
                    this.$store.dispatch('addEntity', this.entity);
                }
                this.$router.push('/');
            }
        },
        deleteEntity() {
            this.openDialog(this.confirmDeleteEntity);
        },
        onCloseDeleteEntity(type) {
            /* istanbul ignore else */
            if (type === 'ok') {
                this.$store.dispatch('deleteEntity', { id: this.entity._id });
                this.$router.push('/');
            }
            this.confirm = this.confirmDefault;
        },
        onCloseDeleteParameter(type) {
            /* istanbul ignore else */
            if (type === 'ok' && this.tmpRemoveParamIndex >= 0) {
                this.entity.parameters.splice(this.tmpRemoveParamIndex, 1);
            }
            this.tmpRemoveParamIndex = -1;
            this.confirm = this.confirmDefault;
        },
        addParameter() {
            // FIXME default values for parameters from preferences
            this.entity.parameters.push({ icon: 'assessment', name: '', description: '' });
        },
        removeParameter(index) {
            this.tmpRemoveParamIndex = index;
            this.openDialog(this.confirmDeleteParameter);
        },
        openDialog(confirmData) {
            this.confirm = confirmData;
            this.$refs['confirmDialog'].open();
        }
    }
};
</script>

<style>
.entity-info-container {
    margin-top: 20px;
    width: 60%;
    margin-right: auto;
    margin-left: auto;
}

.entity-data-container {
    margin: 25px 0;
    padding: 15px 50px 20px 50px;
}

.parameters-data-container {
    margin: 25px 0;
}

.md-menu {
    float: right;
    position: relative;
    right: -45px;
    top: -10px;
}

.add-param-btn {
    vertical-align: middle;
    float: right;
}
</style>
