<template>
    <div>
        <span class="md-headline">{{ t('entities.entity_data') }}</span>
        <md-whiteframe md-elevation="3" class="entity-data-container">
            <md-menu md-size="4" md-direction="bottom left" ref="menu" v-if="editing">
                <md-button class="md-icon-button" md-menu-trigger>
                    <md-icon>more_vert</md-icon>
                </md-button>

                <md-menu-content>
                    <md-menu-item @selected="onDelete">
                        <span class="danger">{{ t('common.delete') }}</span>
                        <md-icon class="danger">delete</md-icon>
                    </md-menu-item>
                </md-menu-content>
            </md-menu>
            <md-input-container :class="{ 'md-input-invalid' : validating && emptyName }">
                <label>{{ t('entities.entity_name') }}</label>
                <md-input :placeholder="t('entities.entity_name')" v-model="content.name" required></md-input>
                <span class="md-error">{{ t('entities.missing_entity_name') }}</span>
            </md-input-container>
            <md-input-container>
                <label>{{ t('entities.entity_description') }}</label>
                <md-textarea :placeholder="t('entities.entity_description')" v-model="content.description"></md-textarea>
            </md-input-container>
        </md-whiteframe>
    </div>
</template>

<script>
import mixUtils from '@/mixins/utils';

export default {
    name: 'any-entity-def',
    mixins: [mixUtils],
    props: ['content', 'validating', 'editing', 'onDelete'],
    computed: {
        emptyName() {
            return !this.content.name;
        }
    },
    methods: {
        getErrors() {
            const errs = [];
            if (this.emptyName) {
                errs.push({
                    field: 'name',
                    error: 'empty'
                });
            }
            return errs;
        }
    }
};
</script>
