<template>
    <div class="fill">
        <div class="empty-entities" v-if="!hasEntities">
            {{ t('entities.no_entities') }}
        </div>
        <div class="wrapper" v-else>
            <any-card v-for="(e, index) in entities" :key="index"
                :data="e"
                :type="'entity'"
                :editing="editing"
                :actions="entityActions"></any-card>
        </div>
        <md-button class="md-fab md-fab-bottom-right" v-if="!hasEntities || editing" @click="addEntity">
            <md-icon>add</md-icon>
        </md-button>
    </div>
</template>

<script>
import mix from '@/mixins/entities.js';
import mixUtils from '@/mixins/utils';
import consts from '@/../utils/consts.js';
import AnyCard from '../Shared/AnyCard';

export default {
    name: 'EntitiesList',
    mixins: [mix, mixUtils],
    components: {
        AnyCard
    },
    data() {
        return {
            entityActions: {
                edit: this.editEntity,
                list: this.listParameters
            }
        };
    },
    methods: {
        addEntity() {
            this.$store.commit('setEntitiesEditingStatus', false);
            this.$router.push('/' + consts.entityFakeId + '/edit');
        },
        editEntity(id) {
            this.$store.commit('setEntitiesEditingStatus', false);
            this.$store.commit('selectEntityForEditing', id);
            this.$router.push('/' + id + '/edit');
        },
        listParameters(id) {
            this.$router.push('/' + id + '/params');
        }
    }
};
</script>

<style>
.empty-entities {
    margin-top: -64px;
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
</style>
