<template>
    <div id="app" class="fill">
        <nav-menu></nav-menu>
        <toolbar></toolbar>
        <app-content></app-content>
    </div>
</template>

<script>
import mix from '@/mixins/entities';
import AppContent from './AppContent';
import NavMenu from './NavMenu';
import Toolbar from './Toolbar';

export default {
    name: 'App',
    mixins: [mix],
    components: {
        AppContent,
        NavMenu,
        Toolbar
    },
    created() {
        this.$router.replace('/');
        this.$store.commit('setCurrentScreenName', 'home');
        this.updateEntitiesEditingStatus();
    },
    methods: {
        updateEntitiesEditingStatus() {
            this.$store.commit('setEntitiesEditingStatus', !this.hasEntities);
        }
    }
};
</script>

<style>
@import '~vue-material/dist/vue-material.css';
@import '~@/assets/styles/vendor/material-icons.css';
@import '~@/assets/styles/vendor/roboto.css';

@import '~@/assets/styles/main.css';
</style>
