<template>
    <main class="fill">
        <div class="main-content fill" :class="{ 'open-menu': drawer }">
            <router-view></router-view>
        </div>
    </main>
</template>

<script>
export default {
    name: 'app-content',
    computed: {
        drawer() {
            return this.$store.state.openDrawer;
        }
    }
};
</script>
