<template>
    <md-sidenav ref="menu" class="md-left">
        <md-list>
            <!-- main items -->
            <md-list-item v-for="(item, index) in items" :key="item.title" @click.native="$refs.menu.close()">
                <router-link exact :to="item.path">
                    <md-icon>{{ item.icon }}</md-icon>
                    <span>{{ t(item.title) }}</span>
                </router-link>
            </md-list-item>
            <md-divider></md-divider>
            <!-- secondary items -->
            <md-list-item v-for="(item, index) in items2" :key="item.title" @click.native="$refs.menu.close()">
                <router-link exact :to="item.path">
                    <md-icon>{{ item.icon }}</md-icon>
                    <span>{{ t(item.title) }}</span>
                </router-link>
            </md-list-item>
        </md-list>
    </md-sidenav>
</template>

<script>
import mixUtils from '@/mixins/utils';

export default {
    name: 'nav-menu',
    mixins: [mixUtils],
    data() {
        return {
            items: [
                { title: 'menu.home', icon: 'dashboard', path: '/' }
            ],
            items2: [
                { title: 'menu.settings', icon: 'settings', path: '/settings' },
                { title: 'menu.about', icon: 'info', path: '/about' }
            ]
        };
    },
    computed: {
        status() {
            return this.$store.state.openDrawer;
        }
    },
    watch: {
        status(newStatus) {
            if (newStatus) {
                this.$refs.menu.open();
            } else {
                this.$refs.menu.close();
            }
        }
    }
};
</script>
