<template>
    <md-toolbar>
        <md-button class="md-icon-button" @click="toggleMenu()">
            <md-icon>menu</md-icon>
        </md-button>
        <h2 class="md-title" style="flex: 1">anyTracker</h2>
        <md-button class="md-icon-button" @click.native="editEntities" v-if="hasEntities && showEditIcon">
            <md-icon v-if="editing">done</md-icon>
            <md-icon v-else>edit</md-icon>
        </md-button>
    </md-toolbar>
</template>

<script>
import mix from '@/mixins/entities.js';

export default {
    name: 'toolbar',
    mixins: [mix],
    computed: {
        showEditIcon() {
            const screen = this.$store.state.currentScreenName;
            return screen && screen === 'home';
        }
    },
    methods: {
        editEntities() {
            this.$store.commit('setEntitiesEditingStatus', !this.$store.state.entitiesEditing);
        },
        toggleMenu() {
            this.$store.commit('setDrawerStatus', !this.$store.state.openDrawer);
        }
    }
};
</script>
